<?xml version="1.0"?>

<!-- Add the id and version of any packages that you want to have downloaded into the $config.searchdir -->
<download>
	<pkg id="example-package-id">
		<version>0.0.0.0</version>
	</pkg>
</download>